body{
	background-image: url("../background.gif");
	margin: 0 auto;
    display: flex;
    font-size: 18px;
}

.container-main {
    flex-wrap: wrap;
}

.container-form {
	display: flex;
	flex-direction: column;
    text-align: center;
    font-size: 25px;
    width: 500px;
}

.container-data {
	font-size:18px;
}

.btn-add {
	background-color: darkgrey;
	width: 125px;
}

.btn-update {
	background-color: darkgrey;
	width: 125px;
}

.btn-clear {
	background-color: darkgrey;
	width: 125px;
}